// Base colors
$brand-color: #ffa500;

// Backgrounds
$bg-primary-color: #e1ebf3;
$bg-inverted-color: #000000;

// Typography
$text-primary-color: #201f25;
$text-link-color: #5d5de0;
$text-link-hover-color: #4444ac;
