// Fonts
$base-font-family: 'Roboto';
$fallback-font-family: 'Arial', 'Helvetica', sans-serif;
$base-font-size: 16px;

// Font weights
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Sizes
$header-height: 80px;

// Durations
$duration: 150ms;
